<div class="modal fade bd-example-modal-lg" id="exampleModalCenterOffre<%= offre._id %>" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Editer Page Nos Offres</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="offresave">
                    <input type="hidden" name="id_offre" value="<%= offre._id %>">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Bannière et Bloc 1</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Image bannière *</label>
                                <input type="file" class="form-control" name="image_banner"><br>
                                <img src="<%= offre.image_banner %>" alt="<%= offre.titre_bloc1 %>" style="width: 10rem;object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre bloc 1 *</label>
                                <input type="text" class="form-control" name="titre_bloc1" value="<%= offre.titre_bloc1 %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre bloc 1 (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_bloc1_en" value="<%= offre.titre_bloc1_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3>Bloc Offre</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre *</label>
                                <input type="text" class="form-control" name="titre_offre_bloc" value="<%= offre.titre_offre_bloc %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_offre_bloc_en" value="<%= offre.titre_offre_bloc_en %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Nous contacter *</label>
                                <input type="text" class="form-control" name="nous_contacter" value="<%= offre.nous_contacter %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Nous contacter (en anglais) *</label>
                                <input type="text" class="form-control" name="nous_contacter_en" value="<%= offre.nous_contacter_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description *</label>
                                <textarea id="desc_offre_bloc_edit" class="form-control"><%= offre.desc_offre_bloc %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description (en anglais) *</label>
                                <textarea id="desc_offre_bloc_edit_en" class="form-control"><%= offre.desc_offre_bloc_en %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3>Bloc Comment ca marche</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm" value="<%= offre.titre_bloc_ccm %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_en" value="<%= offre.titre_bloc_ccm_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description *</label>
                                <textarea id="desc_bloc_ccm_edit" class="form-control"><%= offre.desc_bloc_ccm %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description (en anglais) *</label>
                                <textarea id="desc_bloc_ccm_edit_en" class="form-control"><%= offre.desc_bloc_ccm_en %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 1 *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card1" value="<%= offre.titre_bloc_ccm_card1 %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 1 (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card1_en" value="<%= offre.titre_bloc_ccm_card1_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 1 *</label>
                                <textarea id="desc_bloc_ccm_card1_edit" class="form-control"><%= offre.desc_bloc_ccm_card1 %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 1 (en anglais) *</label>
                                <textarea id="desc_bloc_ccm_card1_edit_en" class="form-control"><%= offre.desc_bloc_ccm_card1_en %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 2 *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card2" value="<%= offre.titre_bloc_ccm_card2 %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 2 (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card2_en" value="<%= offre.titre_bloc_ccm_card2_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 2 *</label>
                                <textarea id="desc_bloc_ccm_card2_edit" class="form-control"><%= offre.desc_bloc_ccm_card2 %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 2 (en anglais) *</label>
                                <textarea id="desc_bloc_ccm_card2_edit_en" class="form-control"><%= offre.desc_bloc_ccm_card2_en %></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 3 *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card3" value="<%= offre.titre_bloc_ccm_card3 %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Titre card 3 (en anglais) *</label>
                                <input type="text" class="form-control" name="titre_bloc_ccm_card3_en" value="<%= offre.titre_bloc_ccm_card3_en %>">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 3 *</label>
                                <textarea id="desc_bloc_ccm_card3_edit" class="form-control"><%= offre.desc_bloc_ccm_card3 %></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Description card 3 (en anglais) *</label>
                                <textarea id="desc_bloc_ccm_card3_edit_en" class="form-control"><%= offre.desc_bloc_ccm_card3_en %></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-hover btn-border-radius addavis" data-dismiss="modal"
                    style="margin-top: 3px;">Fermer</button>
                <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5 save_offre" attr-type="save"
                    attr-unit="description_avis0">Enregistrer</button>
            </div>
        </div>
    </div>
</div>