<%- include('../partials/header') -%> 
<style>
    .avatarimg{
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
    .addavis {
        background-image: linear-gradient(to right, #212529, #212529, #03a9f3, #212529);
        -webkit-box-shadow: 0 4px 15px 0 rgb(252 104 110 / 75%);
        -moz-box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
        -ms-box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
        box-shadow: 0 0px 5px 0 #212529;
    }
    .tab-all a.active {
        background-color: #4068a3 !important;
        box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(120 174 97);
        color: #ffffff !important;
        border-radius: 30px;
        height: 35px;
    }
    .avissave{
        width: 100%;
    }
    input[type=text], input[type=email]{
      border: 1px solid #0f3042 !important;
      border-radius: 5px !important;
      background: transparent !important;
      padding: 0px 7px !important;
    }
    input[type=text]:focus, input[type=email]:focus{
      border: 1px solid #78ae61 !important;
      -webkit-box-shadow: 0 1px 0 0 #78ae61 !important;
      box-shadow: 0 1px 0 0 #78ae61 !important;
    }
    .form-group .form-control{
        width: 97% !important;
    }
    .eleve_form, .ecole_form{
        display: none;
        margin-top: 1rem;
    }
    .usertype_selector h3{
        text-align: center;
    }
    .usertype_selector{
        border: 1px #4169a3 solid;
        color: black;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
    }
    .usertype_selector.active{
        border: 1px #4169a3 solid;
        color: white;
        background-color: #4169a3;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
    }
    .usertype_selector:hover{
        border: 1px #4169a3 solid;
        color: white;
        background-color: #4169a3;
        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
        cursor: pointer;
    }
    .divselectorentoure{
        padding: 1rem;
    }
    .addinguser hr{
        width: 100%;
        margin-bottom: 2rem;
        border-top: 2px solid rgb(64 104 163);
    }
    .ms-choice>span {
        position: absolute;
        top: 0px;
    }
    .languesa{
        padding: 0;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12" style="margin-top: 4rem;">
                    <div class="card">
                        <div class="profile-tab-box">
                            <div class="p-l-20">
                                <ul class="nav ">
                                    <li class="nav-item tab-all">
                                        <a class="nav-link active show" href="#avis" data-toggle="tab">Avis client</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#usersettings" data-toggle="tab">Slides</a>
                                    </li>
                                    <li class="nav-item tab-all p-l-20">
                                        <a class="nav-link" href="#autresectiontab" data-toggle="tab">Autres sections</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="avis" aria-expanded="true">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card project_widget">
                                        <div class="header">
                                            <h2 class="mb-0">
                                                <strong>Avis</strong> client
                                            </h2>
                                            <h5 style="margin-top: 1rem;"><%= users.length %> Avis</h5>
                                            <div class="header-dropdown m-r--5">
                                                <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" data-toggle="modal" data-target="#exampleModalCenter">Ajouter</button>
                                            </div>
                                        </div>
                                        <div class="body">
                                            <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th>Nom</th>
                                                        <th>Titre</th>
                                                        <th>Contenu</th>
                                                        <th>Nom (en anglais)</th>
                                                        <th>Titre (en anglais)</th>
                                                        <th>Contenu (en anglais)</th>
                                                        <th>Crée le</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% users.forEach((user)=>{ %>
                                                        <tr>
                                                            <td>
                                                                <img width="25" src="<%= user.image_avis %>" alt="<%= user.title %>" class="avatarimg">
                                                            </td>
                                                            <td><%= user.nom_avis %></td>
                                                            <td><%= user.title_avis %></td>
                                                            <td><%- user.message_avis %></td>
                                                            <td><%= user.nom_avis_en %></td>
                                                            <td><%= user.title_avis_en %></td>
                                                            <td><%- user.message_avis_en %></td>
                                                            <td><%= user.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                                            <td>
                                                                <!-- <a href="/user/details/<%= user.id %>" class="btn-hover btn-border-radius color-4 p-1"><i class="fa fa-eye"></i> View</a>
                                                                <a href="/edit/<%= user.id %>" class="btn-hover btn-border-radius color-6 p-3"><i class="fa fa-edit"></i> edit</a> -->
                                                                <a href="#" class="btn btn-tbl-edit btn-primary delete_avis" attr-id="<%= user.id %>" title="Supprimer">
                                                                    <i class="material-icons">delete_sweep</i>
                                                                </a>
                                                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter<%= user.id %>" class="btn btn-tbl-edit" title="Modifier">
                                                                    <i class="material-icons">create</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <%-include('../partials/avis_form_edit',{avis:user})-%> 
                                                    <% }) %> 
                                                </tbody>
                                            </table>
                                            <%-include('../partials/avis_form_add')-%> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="usersettings" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <strong>Slides</strong> Accueil
                                    </h2>
                                    <h5 style="margin-top: 1rem;"><%= slides.length %> Slide(s)</h5>
                                    <div class="header-dropdown m-r--5">
                                        <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" data-toggle="modal" data-target="#exampleModalCenterSlide">Ajouter</button>
                                    </div>
                                </div>
                                <div class="body">
                                    <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Titre</th>
                                                <th>Description</th>
                                                <th>Titre (en anglais)</th>
                                                <th>Description (en anglais)</th>
                                                <th>Crée le</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% slides.forEach((slide)=>{ %>
                                                <tr>
                                                    <td>
                                                        <img width="25" src="<%= slide.image %>" alt="<%= slide.titre %>" class="avatarimg">
                                                    </td>
                                                    <td><%= slide.titre %></td>
                                                    <td><%= slide.desc %></td>
                                                    <td><%= slide.titre_en %></td>
                                                    <td><%= slide.desc_en %></td>
                                                    <td><%= slide.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                                    <td>
                                                        <a href="#" class="btn btn-tbl-edit btn-primary delete_slide" attr-id="<%= slide.id %>" title="Supprimer">
                                                            <i class="material-icons">delete_sweep</i>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenterSlide<%= slide.id %>" class="btn btn-tbl-edit" title="Modifier">
                                                            <i class="material-icons">create</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <%-include('../partials/slide_form_edit',{slide:slide})-%> 
                                            <% }) %> 
                                        </tbody>
                                    </table>
                                    <%-include('../partials/slide_form_add')-%> 
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="autresectiontab" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <strong>Autres</strong> sections
                                    </h2>
                                    <h5 style="margin-top: 1rem;"><%= autresections.length %> Autre(s) section(s)</h5>
                                    <div class="header-dropdown m-r--5">
                                        <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" data-toggle="modal" data-target="#exampleModalCenterSection">Ajouter</button>
                                    </div>
                                </div>
                                <div class="body">
                                    <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Titre bloc 2</th>
                                                <th>Titre bloc 3</th>
                                                <th>Titre bloc 4</th>
                                                <th>Crée le</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% autresections.forEach((autresection)=>{ %>
                                                <tr>
                                                    <td><%= autresection.titre_bloc2 %></td>
                                                    <td><%= autresection.titre_bloc3 %></td>
                                                    <td><%= autresection.titre_bloc4 %></td>
                                                    <td><%= autresection.createdAt.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ") %></td>
                                                    <td>
                                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenterSection<%= autresection.id %>" class="btn btn-tbl-edit" title="Modifier">
                                                            <i class="material-icons">create</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <%-include('../partials/autresection_form_edit',{autresection:autresection})-%> 
                                            <% }) %> 
                                        </tbody>
                                    </table>
                                    <%-include('../partials/autresection_form_add')-%> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<%- include('../partials/footer') -%> 